## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable_ej1 = 1
print (variable_ej1)

1

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
variable_ej2 = 8.5
print (type(variable_ej2))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print (type(variable_ej1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
variable_nombre = "Tomas"

5) Crear una constante que contenga el número Pi

In [5]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [6]:
print (type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [7]:
E = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
variable_ej8a = "True"
variable_ej8b = True
#No se trata de lo mismo dado que la primera es un dato de tipo string, mientras que la segunda, un booleano.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print (type(variable_ej8a))
print (type(variable_ej8b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [11]:
variable_ej10 = 3 + 3.5
print (variable_ej10)

6.5

11) Realizar una operación de suma de un número definido como string con un entero

In [12]:
variable_ej11a = 5
variable_ej11b = "6"
print (variable_ej11a + int(variable_ej11b))

11

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [13]:
E_pot = E**3
print (E_pot)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [14]:
entrada = input ("Ingresá una variable por teclado")
print (int(entrada)*5)

50

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
variable_ej14a =27
variable_ej14b = 4
print (variable_ej14a / variable_ej14b)

6.75

15) De la división anterior solamente mostrar la parte entera

In [16]:
print (variable_ej14a // variable_ej14b)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
print (variable_ej14a % variable_ej14b)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [18]:
print (variable_ej14b*(variable_ej14a // variable_ej14b)+(variable_ej14a % variable_ej14b))

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
"2" == 2
#Esta igualdad es falsa porque un valor es de tipo string y otra de tipo entero

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [21]:
int("2") == 2

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a_error = float('3,8') #Error de sintaxis ya que utiliza coma como separador de la parte decimal.
a = float('3.8') #Correcta sintaxis, utilizando un punto como separador de la parte decimal.

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [23]:
# 10 + '10' No es posible concatenar un elemento de tipo entero con uno de tipo string.
10 + int('10') #correcta concatenación, convirtiendo en entero el valor de tipo string.

20

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [24]:
menu="""
MENU: 
1 - Pizza
2 - Empanadas
3 - Milanesa
4 - Salir
"""
print (menu)

MENU:
1 - Pizza
2 - Empanadas
3 - Milanesa
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [25]:
lista_ej23 = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [26]:
print (lista_ej23[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [27]:
lista_ej23[2] = "tomas"
print (lista_ej23[2])

tomas

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [28]:
matriz_ej26 = [["A","B","C"], ["D","E","F"], ["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [29]:
print (matriz_ej26)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [30]:
matriz_ej26[1][1] = "Z"

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [31]:
matriz_ej26[0][0] = 1
matriz_ej26[0][1] = 2
matriz_ej26[0][2] = 3

30) Crear una tupla que contenga 5 marcas de ropa

In [32]:
tuple = ("jacquemus", "blumarine", "jean_paul_gaultier", "ysl", "diesel")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [34]:
print (tuple[0])

jacquemus

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [35]:
tuple(1) = "dior" 
#Al ejecutar la línea, el error se debe a la incapacidad de modificar una tupla.

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (533725107.py, line 1)

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [36]:
dict = {"nombre" : "Marta", "apellido" : "Sanchez", "edad" : "25", "hobbies" : ["pintura", "jardineria", "producción musical"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [37]:
print (["hobbies"])

['hobbies']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [38]:
dict[2] = 27